
.vs/Acessorio/v16/.suo
Acessorio.Util/obj/Acessorio.Util.csproj.nuget.dgspec.json
Acessorio.Util/obj/Acessorio.Util.csproj.nuget.g.props
Acessorio.Util/obj/Acessorio.Util.csproj.nuget.g.targets
Acessorio.Util/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Acessorio.Util/obj/Debug/net5.0/Acessorio.Util.AssemblyInfo.cs
Acessorio.Util/obj/Debug/net5.0/Acessorio.Util.AssemblyInfoInputs.cache
Acessorio.Util/obj/Debug/net5.0/Acessorio.Util.assets.cache
Acessorio.Util/obj/Debug/net5.0/Acessorio.Util.csprojAssemblyReference.cache
Acessorio.Util/obj/Debug/net5.0/Acessorio.Util.GeneratedMSBuildEditorConfig.editorconfig
Acessorio.Util/obj/project.assets.json
Acessorio.Util/obj/project.nuget.cache
Acessorio.Util/bin/Debug/net5.0/Acessorio.Util.deps.json
Acessorio.Util/bin/Debug/net5.0/Acessorio.Util.dll
Acessorio.Util/bin/Debug/net5.0/Acessorio.Util.pdb
Acessorio.Util/bin/Debug/net5.0/ref/Acessorio.Util.dll
Acessorio.Util/obj/Debug/net5.0/Acessorio.Util.csproj.FileListAbsolute.txt
Acessorio.Util/obj/Debug/net5.0/Acessorio.Util.csproj.CoreCompileInputs.cache
Acessorio.Util/obj/Debug/net5.0/Acessorio.Util.dll
Acessorio.Util/obj/Debug/net5.0/Acessorio.Util.pdb
Acessorio.Util/obj/Debug/net5.0/ref/Acessorio.Util.dll
.vs/Acessorio/DesignTimeBuild/.dtbcache.v2
*.cache
